<html>
<body>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="../../static/css/admin.css" rel="stylesheet">
  <h1>Maintenance Application Admin Page</h1>

  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <form class="form-group">

        </form>
      </div>
      <div class="col-sm-4">
        <h3>Product to Add</h3>
        <form action="/admin/add_product" method="get" id="nameform">
          <div class="col-sm-4">
            <div class="form-group">
              <select multiple class="form-control" name="customer" id="exampleFormControlSelect2">
                {% for row in data %}
                <option value={{row[0]}}>{{  row[0],row[1]  }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          Product model: <input class="form-control" type="text" name="model"><br>
          Product color: <input class="form-control" type="text" name="color"><br>
          Warranty: <input class="form-control" type="text" name="warranty"><br>
          Time of buying: <input class="form-control" type="date" name="timeofbuying"><br>
          Price: <input class="form-control" type="text" name="price"><br>
          Category ID: <input class="form-control" type="text" name="cat_id"><br>
          <button type="submit" form="nameform" value="Add_Product">Add Product</button><br>
        </form>

        <p> To see the customer service who has complaints within the range: <p>
          Range Beginning: <input class="form-control" type="text" name="cat_id"><br>
          Range End: <input class="form-control" type="text" name="cat_id"><br>
          <button type="submit" form="c_service" formaction="see_c_service" value="/admin/see_cservice_assistant">See C_service_assistant</button><br>
          <p> To see all customers beginning with letters: <p>
            <input class="form-control" type="text" name="letters"><br>
            <button type="submit" form="see_c_service" formaction="/admin/find_customers" value="Add_Product">Find Customers</button><br>
            <p> To see the technician with max number of requests: <p>
              <button type="submit" form="max_technician" formaction="/admin/see_max_technician" value="Add_Product">See Max. Technician</button><br>
              <p> To see the customer with max number of complaints: <p>
                <button type="submit" form="max_customer" formaction="/admin/see_max_customer" value="Add_Product">See Max. Customer</button>

              </div>
            </div>
          </div>

        </body>
        </html>
