<html>
<body>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="../../static/css/admin.css" rel="stylesheet">
<h1>Maintenance Application Admin Page</h1>


<div class="jumbotron text-center">
  <h1>My First Bootstrap Page</h1>
  <p>Resize this responsive page to see the effect!</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <form action="/admin/getCustomers" class="form-group">
          <select multiple class="form-control" id="exampleFormControlSelect2">
      <!--      {% for row in data %}
                    <option value={{row}}>{{  row  }}</option>
            {% endfor %}-->
              <option >Zego</option>
              <option >Zego</option>
              <option >Zego</option>
              <option >Zego</option>
              <option >Zego</option>
              <option >Zego</option>
              <option >Zego</option>
              <option >Zego</option>
              <option >Zego</option>
              <option >Zego</option>
              <option >Zego</option>
              <option >Zego</option>
              <option >Zego</option>
          </select>
      </form>
    </div>
    <div class="col-sm-4">
      <h3>Product to Add</h3>
      <form action="/admin.add_product" method="get" id="nameform">
        Product name: <input class="form-control" type="text" name="pname"><br>
        Product model: <input class="form-control" type="text" name="model"><br>
        Warranty: <input class="form-control" type="text" name="warranty"><br>
        Time of buying: <input class="form-control" type="text" name="timeofbuying"><br>
        Price: <input class="form-control" type="text" name="price"><br>
      </form>

      <button type="submit" form="nameform" value="Add_Product">Add Product</button>
    </div>
  </div>
</div>


</body>
</html>
