<html>
<body>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="../../static/css/admin.css" rel="stylesheet">
  <h1>Maintenance Application Admin Page</h1>

  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <form class="form-group">

        </form>
      </div>
      <div class="col-sm-4">
        <h3>Product to Add</h3>
        <form action="/admin/add_product" method="get" id="nameform">
          <div class="col-sm-4" style="max-width: 100%;">
            <div class="form-group">
              <select multiple class="form-control" name="customer" id="exampleFormControlSelect2">
                {% for row in data %}
                <option value={{row[0]}}>{{  row[0],row[1]  }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          Product model: <input class="form-control" type="text" name="model"><br>
          Product color: <input class="form-control" type="text" name="color"><br>
          Warranty: <input class="form-control" type="text" name="warranty"><br>
          Time of buying: <input class="form-control" type="date" name="timeofbuying"><br>
          Price: <input class="form-control" type="text" name="price"><br>
          Category ID: <input class="form-control" type="text" name="cat_id"><br>
          <button type="submit" form="nameform" value="Add_Product">Add Product</button><br>
        </form>
        <hr>
        <form action="/admin/find_range">
          <p> To see the customer service who has complaints within the range:</p>
          Range Beginning: <input class="form-control" type="text" name="beginning"><br>
          Range End: <input class="form-control" type="text" name="end"><br>
          <input type="submit" value="Find">
        </form> 
        <hr>
        <form action="/admin/find_customers">
          <p> To see all customers beginning with letters: <p>
          <input class="form-control" type="text" name="letters"><br>
          <input type="submit" value="Find">
        </form>
        <hr>
        <form action="/admin/find_technician">
          <p> To see the technician with max number of requests: <p>
          <input type="submit" form="max_technician" value="See Max. Technician"><br>
        </form>
        <hr>
        <form action="/admin/find_assistant">
          <p> To see the customer with max number of complaints: <p>
          <input type="submit" form="max_technician" value="See Max. Assistant"><br>
        </form>
        <hr>
              </div>
            </div>
          </div>

        </body>
        </html>
