<html>
    <head>
        <meta charset='utf-8'/>
        <link rel='stylesheet' type='text/css'
              href='http://fonts.googleapis.com/css?family=Spectral'>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="../../static/css/customer_welcome.css" rel="stylesheet">
    </head>
<body>

<!--<p>Use the size attribute to specify the number of visible values.</p>
{% for row in data %}
        <tr>
        {% for d in row %}
            <td>{{ d }}</td>
        {% endfor %}
        </tr>
{% endfor %}-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Customer Welcome</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/customer/welcome">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/customer/get_requests">My Requests</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/customer/get_complaints">My Complaints</a>
      </li>
    </ul>
  </nav>
  <hr>
<div class="container">
  <form>
    <div class="form-group">
    <select class="form-control" name="products" size= {{ size }}>
      {% for index in range(size) %}
              <option value={{data.id[index]}}>{{  data.model[index][0]  }}</option>
      {% endfor %}
    </select>

    <button type="submit" formaction="/customer/create_request">Create Request</button>
    <button type="submit" formaction="/customer/get_details">Get Details</button>
    </div>
  </form>
  </div>
</form>
</body>
</html>
