<html>
<head>
  <meta charset='utf-8'/>
  <link rel='stylesheet' type='text/css'
  href='http://fonts.googleapis.com/css?family=Spectral'>
  <title>Maintenance Application System</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="../../static/css/customer_service_welcome.css" rel="stylesheet">
</head>
<body>
  <script type="text/javascript">
    window.onload = function() {

        var ex1 = document.getElementById('rb_1');
        var ex2 = document.getElementById('rb_2');

        ex1.onclick = handler1;
        ex2.onclick = handler2;
    }

    function handler1() {
        var form = document.getElementById("null_action_1");
        form.submit();
    }

    function handler2() {
        var form = document.getElementById("null_action_2");
        form.submit();
    }
  </script>

  <form id="null_action_2" action="/customer_service_assistant/write_unassigned">
  </form>

  <form id="null_action_1" action="/customer_service_assistant/write_assigned">
  </form>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Customer Service Welcome</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  </nav>
  <hr>


<div class="container" >

  <div class="row">
    <div class="col-sm-4">
      <form class="form-group">
          <select multiple class="form-control" name="comp_id" id="exampleFormControlSelect2" height="80%;">
            {% for index in range(size) %}
                    <option value={{ data.id[index] }}>{{  data.id[index]  }} - {{  data.model[index]  }} - {{  data.current_status[index]  }}</option>
            {% endfor %}
          </select>
          <h5>Show:</h5>
          <input type="radio" {{ checked[1] }} name="rb_value" id="rb_1"> Assigned to me<br>
          <input type="radio" {{ checked[0] }} name="rb_value" id="rb_2"> Unassigned<br>
          <br>
          <div class="col-sm-4">
            <button type="submit" formaction="/customer_service_assistant/customer_service_complaint_details">Get Details</button>
            <button type="submit" formaction="/customer_service_assistant/customer_service_assistant_chat_page">Go to Chat</button>
            <button type="submit" formaction="/customer_service_assistant/customer_service_manage">Manage</button>
          </div>
      </form>
    </div>

</div>
</div>
</body>
</html>
