<html>
    <head>
        <meta charset='utf-8'/>
        <link rel='stylesheet' type='text/css'
              href='http://fonts.googleapis.com/css?family=Spectral'>
        <link href="../../static/css/customer_complaint_details.css" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Chat Page</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
      </nav>
      <hr>

    <p class="bottom-up-three">
      {% for index in range(size) %}
              Message from {{data.send_id[index]}} to {{data.rec_id[index]}}: {{data.text[index]}}<br>
      {% endfor %}
    </p>
    <hr>
    <form action="/customer_service_assistant/insert_message" METHOD="POST">
      <input type="text" name="message" >
      <br><br>
      <button name="subject" type="submit" value="{{  complaint_id  }}">Send</button>
    </form>

</body>
</html>
